<div id="floating-panel">
    <div id="icons">
        <img class="icon" id="start-stop-video" [src]="abilities.video ? './../../../assets/icons/camera_off.svg' : './../../../assets/icons/camera_on.svg'"
            id="start-video-btn"
            (click)="toggleVideo()"
        />
        <img class="icon" id="start-stop-audio" [src]="abilities.audio ? './../../../assets/icons/speaker_off.svg' : './../../../assets/icons/speaker_on.svg'"
            (click)="toggleAudio()"
        />
        <img class="icon" id="participants" src="./../../../assets/icons/people.svg"
            (click)="toggleParticipants()"
        />
        <img class="icon" id="focus" src="./../../../assets/icons/focus2.svg"
            (click)="sendHeading()"
        />
    </div>
</div>
<app-chat #chat></app-chat>
<div id="video-container" [hidden]="!this.abilities.video">
    <video #video></video>
</div>

<div id="pano-info">
    <span>CONNECTED: {{ countConnected }}</span>
    <img class="icon" id="privateLink" src="./../../../assets/icons/people.svg"
        (click)="getPrivateLinks()"
    />

    <img class="icon" id="publicLink" src="./../../../assets/icons/focus2.svg"
        (click)="getPublicLink()"
    />
</div>
<div #streetViewContainer id="pano"></div>
<div #mapContainer id="map"></div>
