<div id="actions-panel">
    <div id="icons">
        <span  class="material-icons icon" id="start-stop-video" (click)="toggleVideo()" title="Turn video off/on">
            {{abilities.video ? 'videocam' : 'videocam_off'}}
        </span>
        <span class="material-icons icon" id="start-stop-audio" (click)="toggleAudio()" title="Turn volume off/on">
            {{abilities.audio ? 'volume_up' : 'volume_off'}}
        </span>
        <span class="material-icons icon" (click)="sendHeading()" title="Focus viewer's look">
            {{ povFocusedForViewers ? 'center_focus_strong' : 'center_focus_weak'}}
        </span>
    </div>
</div>
<app-chat #chat></app-chat>
<div id="video-container" [hidden]="!this.abilities.video">
    <video style="border: 1px solid white;" #video muted autoplay></video>
</div>

<div class="connectivity-panel">
    <div id="icons">
        <span class="icon" style="cursor: default; font-size: 18px;vertical-align: super;">CONNECTED: {{ countConnected }}</span>
        <span class="material-icons icon" id="publicLink" (click)="togglePrivateLinks()" title="Get private links">
            lock
        </span>
        <span class="material-icons icon" id="privateLink" (click)="togglePublicLink()" title="Get public link">
            language
        </span>
    </div>
</div>

<div id="private-link-container" *ngIf="privateLinksVisible">
    <mat-card>
        <div class="container" style="text-align: center;" fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="stretch center">
            <div fxFill>
                <mat-label>Private Links:</mat-label>
            </div>
            
            <p>
                <b class="margin-right">Get</b>
                <input class="private-count margin-right" type="number" [(ngModel)]="linkCount" >
                <button mat-raised-button (click)="getPrivateLinks()" class="mat-accent mr-16" >links.</button>
            </p>
            <div *ngFor="let linker of privateLinks;let i = index;" fxFill fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center none">
                <div fxFlex>
                    Link number: {{i+1}}
                    <button id="button{{i}}" mat-raised-button class="mat-accent mr-16" style="margin-left:1em;height:72%;"
                        (click)="copyLink(concatLink(linker),$event)">Copy
                        Link</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<div id="public-link-container" *ngIf="publicLinkVisible">
    <div class="container" style="text-align: center;" fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="stretch center">
        <div fxFill>
            <mat-label>Public Link:</mat-label>
        </div>
        <div fxFill>
            <div fxFill fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center none">
                <button id="publicButton" mat-raised-button class="mat-accent mr-16" style="margin-left:1em;height:72%;"
                    (click)="copyLink(publicLink,$event)">Copy
                    Link</button>
            </div>
        </div>
    </div>
</div>
<div #streetViewContainer id="pano"></div>
<div #mapContainer id="map"></div>