<div id="floating-panel">
    <div id="icons">
        <input id="start-video-btn" type="button" value="Start video" (click)="toggleVideo()" />
        <input id="update-heading" type="button" value="Focus viewers" (click)="sendHeading()" />
        <input id="show-participants" type="button" value="Participants" (click)="sendHeading()" />
    </div>
</div>
<div id="video-container" [hidden]="!isBroadcasting">
    <video></video>
</div>

<div id="pano-info">
    <p>
        Link: <a target="_blank" [routerLink]="['/viewer', guideId]"></a>
    </p>
    <span>CONNECTED: {{ countConnected }}</span>
</div>
<div #mapContainer id="pano"></div>
