@media only screen and (max-width: 375px) {
  #connectivity-panel {
    top:20vh;
  }
}

#private-link-container {
    height: min-content;
    width: 20vw;
    max-height: 30vw;
    position: absolute;
    top: 15vh;
    padding: 5px;
    right: 5vw;
    z-index: 5;
    background-color: #fff;
    border-radius: 20px;
    text-align: left;
    color:black;
    overflow-y: auto;
}

#public-link-container {
    height: min-content;
    width: 20vw;
    max-height: 30vw;
    position: absolute;
    top: 15vh;
    padding: 5px;
    right: 5vw;
    z-index: 5;
    background-color: #fff;
    border-radius: 20px;
    text-align: left;
    color:black;
    overflow-y: auto;
}

app-chat {
  position: absolute;
  bottom: 0px;
  right: 16px;
  z-index: 5;
}

.private-count {
  width: 3em;
}

.margin-right {
  margin-right: 1em;
}
