
<div id="floating-panel">
    <div id="icons">
        <img class="icon" id="start-stop-video" [src]="isBroadcasting ? './../../../assets/icons/camera_off.svg' : './../../../assets/icons/camera_on.svg'"
            id="start-video-btn"
            (click)="toggleVideo()"
        />
        <img class="icon" id="start-stop-audio" [src]="isBroadcasting ? './../../../assets/icons/speaker_off.svg' : './../../../assets/icons/speaker_on.svg'"
            (click)="toggleAudio()"
        />
    </div>
</div>
<div id="video-container" [hidden]="!isBroadcasting">
    <video></video>
</div>

<div #mapContainer id="pano"></div>