<div id="actions-panel">
    <div id="icons" fxLayout="row" fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="stretch center">
        <span fxFlex class="material-icons icon" id="start-stop-video" (click)="toggleVideo()" title="Turn video off/on">
            {{abilities?.video ? 'videocam' : 'videocam_off'}}
        </span>
        <span fxFlex class="material-icons icon" id="start-stop-audio" (click)="toggleAudio()" title="Turn volume off/on">
            {{abilities?.audio ? 'volume_up' : 'volume_off'}}
        </span>
            <mat-form-field fxFlex>
                <mat-label>Ask a question.</mat-label>
                <input matInput [(ngModel)]="question" (keyup)="questionKeyUp($event)"/>
            </mat-form-field>
            <button fxFlex mat-raised-button class="mat-accent mr-16" style="margin-left:1em;"
                (click)="sendQuestion('da')">ASK</button>
    </div>
</div>
<div class="sh" *ngIf="this.tour && !this.isConnectionActive">
    <h1>The tour of {{this.tour.name}} hasn't started yet,</h1>
    <h3>Pleace wait for your guide</h3>
</div>
<div id="video-container" [hidden]="!(abilities?.video)">
    <video #video muted autoplay></video>
</div>
<audio #audio autoplay></audio>

<div #mapContainer id="pano"></div>