video {
    height: 100%;
    width: 100%;
}
#video-container {
    width: 18vw;
    position: absolute;
    top: 15vh;
    left: 12vw;
    z-index: 5;
    border: 1px solid white;
    outline: medium;
}
#pano {
    float: left;
    height: 100%;
    width: 100%;
}
#floating-panel {
    position: absolute;
    height: 5vh;
    top: 2vh;
    left: 12vw;
    z-index: 5;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto','sans-serif';
    border-radius: 20px;
    background-color: #fff;
}

#icons {
    margin:auto;
    padding:9px;
}

#pano-info {
    height: min-content;
    position: absolute;
    top: 5px;
    right: 5%;
    z-index: 5;
    background-color: #fff;
    padding: 2px;
    border: 1px solid #999;
    border-radius: 20px;
    text-align: center;
    color:black;
    text-shadow: yellow;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 5px;
}
