::ng-deep .mat-form-field{ width:100% !important; }

.sh{
  background-color: hsla(14, 100%, 53%, 0.6);
  position: absolute;
  top: 0;
  height: 20vh;
  width: 100vw;
  text-align: center;
  z-index: 10;
  border-radius: 8vh;
}