<mat-drawer-container class="example-container" autosize>
    <div id="menu-content">
        <mat-card>
            <div class="row">
                <mat-card-title>Couch Traveller</mat-card-title>
            </div>
            <div id="flex-container" class="container" fxLayout fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
                <div fxFlex="20%">
                    <img mat-card-md-image id="logo" [src]="'./../../../assets/logos/couch-traveller-logo.svg'" />
                </div>
                <form [formGroup]="tourForm">
                <mat-form-field fxFlex>
                    <mat-label>Tour Name</mat-label>
                    <input formControlName='tourName' id="search-box" matInput [(ngModel)]="tourName" id="pac-input2" type="text">
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Start Destination</mat-label>
                    <input formControlName='destination' placeholder="Search for location" id="search-box" matInput id="pac-input" type="text">
                </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Start Date and Time (CET)</mat-label>
                        <input formControlName='tourDate'  matInput [owlDateTime]="dt1" [(ngModel)]="tourDate"
                            [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                        <owl-date-time #dt1></owl-date-time>
                    </mat-form-field>

                <div fxFlex="20%">
                    <button type="button" mat-raised-button class="mat-accent mr-16" (click)="createTour()">Create Tour</button>
                </div>
                </form>
            </div>
        </mat-card>
        <br />
        <mat-card>
            <div id="mapTour" class="example-sidenav"></div>
        </mat-card>
    </div>
</mat-drawer-container>
<div hidden id="type-selector" class="pac-controls">
    <input type="radio" name="type" id="changetype-all" checked="checked">
    <label for="changetype-all">All</label>

    <input type="radio" name="type" id="changetype-establishment">
    <label for="changetype-establishment">Establishments</label>

    <input type="radio" name="type" id="changetype-address">
    <label for="changetype-address">Addresses</label>

    <input type="radio" name="type" id="changetype-geocode">
    <label for="changetype-geocode">Geocodes</label>
</div>
<div hidden id="strict-bounds-selector" class="pac-controls">
    <input type="checkbox" id="use-strict-bounds" value="">
    <label for="use-strict-bounds">Strict Bounds</label>
</div>