<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div id="map"></div>
    </mat-drawer>

    <div class="row">

        <mat-card>
            <div class="row">
                <mat-card-title>Couch Traveller</mat-card-title>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="pr-20 w-300">
                    <mat-label>Destination</mat-label>
                   
                    <input id="search-box" id="pac-input" type="text" hidden>
                </mat-form-field>
                <mat-form-field appearance="fill" class="pr-20 w-300">
                    <mat-label>Date and Time</mat-label>
                    <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                    <owl-date-time #dt1></owl-date-time>
                </mat-form-field>
            </div>
        </mat-card>

        <img id="logo" [src]="'./../../../assets/logos/couch-traveller-logo.svg'" />

        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>

</mat-drawer-container>






<div id="floating_panel">
    <img id="logo" [src]="'./../../../assets/logos/couch-traveller-logo.svg'" />
    <input id="search-box" id="pac-input" class="controls" type="text" placeholder="Search Box">
    <input id="tour-name" [(ngModel)]="tourName" id="tour-name-input" class="controls" type="text"
        placeholder="Tour Name">
    <input type="datetime-local">
    <button type="button" (click)="createTour()">Create tour</button>
</div>