/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

video {
    height: 100%;
    width: 100%;
}
#video-container {
    width: 18vw;
    position: absolute;
    top: 12vh;
    left: 5vw;
    z-index: 5;
    outline: medium;
}

#pano {
    float: left;
    height: 100%;
    width: 100%;
}

#icons {
    margin:auto;
    padding:9px;
}

.icon {
    max-width: 2em;
    min-width: 2em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    cursor: pointer;
}

#actions-panel {
    height: min-content;
    position: absolute;
    padding-top: 5px;
    top: 2vh;
    padding: 3px;
    left: 12vw;
    z-index: 5;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    color:black;
}

#map {
    height: 18vw;
    width: 18vw;

    position: absolute;
    bottom: 5vh;
    left: 5vw;
    z-index: 5;
    border: 1px solid white;
    outline: medium;
}

.connectivity-panel {
    height: min-content;
    position: absolute;
    top: 2vh;
    padding: 3px;
    right: 5vw;
    z-index: 5;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    color:black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
